<ion-view title="Agregar Vehiculo" id="page3">

  <ion-nav-buttons side="right" class="has-header" >
    <button ui-sref="tabsController.listaDeVehiculos()" class="button home-button buttons button-clear header-item">
      <i class="icon ion-android-home"></i> <span class="back-text"></span>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" >
    <div style="margin: 0px; line-height: 120px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="agregarVehiculo-form1" class="list">
      <div id="informaciN-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Placa::</strong>
      </p>
    </div>
    <form id="informaciN-form3" class="list">
      <label class="item item-input" id="informaciN-input3">
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="informaciN-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Marca:</strong>
      </p>
    </div>
    <form id="informaciN-form3" class="list">
      <label class="item item-input" id="informaciN-input3">
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="informaciN-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Alias:</strong>
      </p>
    </div>
    <form id="informaciN-form3" class="list">
      <label class="item item-input" id="informaciN-input3">
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="agregarServicioPersonalizado-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tipo:</p>
    </div>
    <form id="agregarServicioPersonalizado-form14" class="list">
      <label class="item item-select" id="agregarServicioPersonalizado-select3">
        <span class="input-label"></span>
        <select style="text-align: left;">
          <option>Automovil</option>
          <option>Motocicleta</option>
          <option>Camioneta</option>
          <option>Camión</option>
          <option>Otro</option>
        </select>
      </label>
    </form>
    <div id="informaciN-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Año:</strong>
      </p>
    </div>
    <form id="informaciN-form3" class="list">
      <label class="item item-input" id="informaciN-input3">
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="informaciN-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Color:</strong>
      </p>
    </div>
    <form id="informaciN-form3" class="list">
      <label class="item item-input" id="informaciN-input3">
        <input type="text" placeholder="">
      </label>
    </form>
      
      <div id="informaciN-markdown3" class="show-list-numbers-and-dots" style="padding-top: 15px">
        <p style="color:#000000;">
          <strong>Servicios del vehículo:</strong>
        </p>
      </div>
      
            <div class="row">
            
              <div class = "col col-80">
                <h5>Cambio de Aceite</h5>
              </div>
              <div class = "col col-10">
                <i class="icon ion-android-settings" style="font-size: 25px; vertical-align: middle;"></i>
              </div>
              <div class = "col col-10">
                <i class="icon ion-android-remove-circle" style="font-size: 25px; vertical-align: middle;"></i>
              </div>

            </div>

            <div class="row">
            
              <div class = "col col-80">
                <h5>Cambio de Bateria</h5>
              </div>
              <div class = "col col-10">
                <i class="icon ion-android-settings" style="font-size: 25px; vertical-align: middle;"></i>
              </div>
              <div class = "col col-10">
                <i class="icon ion-android-remove-circle" style="font-size: 25px; vertical-align: middle;"></i>
              </div>
              
            </div>
      <button ui-sref="agregarServicioPersonalizado()" id="agregarVehiculo-button4" ng-click="select()" class="button button-positive button-block">Agregar Servicio Personalizado</a>
    </form>
    <button ui-sref="tabsController.listaDeVehiculos()" id="botonAgregarVehiculo" ng-click="insert()" class="button button-balanced button-block">Agregar Vehiculo</button>
  </ion-content>
</ion-view>